<p><strong>Chair:</strong><br>
Dr. Terry Rey<br>
619 Anderson Hall<br>
<a href="tel:2152048755">(215) 204-8755</a><br>
<a href="mailto:trey@temple.edu">trey@temple.edu</a></p>
<hr>
<p><strong>Graduate Chair:</strong><br>
Dr. Douglas Duckworth<br>
647 Anderson Hall<br>
<a href="mailto:duckworth@temple.edu">duckworth@temple.edu</a></p>
<hr>
<p><strong>Manager/Administration:</strong><br>
Yvonne Muchemi<br>
1008A Gladfelter Hall<br>
<a href="tel:2152049209">(215) 204-9209</a><br>
<a href="ymuchemi@temple.edu">ymuchemi@temple.edu</a></p>
<hr>
<p><strong>Coordinator:</strong><br>
Jemina Quarles<br>
614 Anderson Hall<br>
<a href="tel:2152043663">(215) 204-3663</a><br>
<a href="mailto:jemi@temple.edu">jemi@temple.edu</a></p>
