<p><strong>Chair:</strong><br>
Dr. Terry Rey<br>
619 Anderson Hall<br>
<a href="tel:2152048755">(215) 204-8755</a><br>
<a href="mailto:trey@temple.edu">trey@temple.edu</a></p>
<hr>
<p><strong>Graduate Chair:</strong><br>
Dr. Jeremy Schipper<br>
613 Anderson Hall<br>
<a href="mailto:jeremy.schipper@temple.edu">jeremy.schipper@temple.edu</a></p>
<hr>
<p><strong>Manager/Administration:</strong><br>
Maggie Cogswell<br>
1008A Gladfelter Hall<br>
<a href="tel:2152049209">(215) 204-9209</a><br>
<a href="mailto:maggie.cogswell@temple.edu">maggie.cogswell@temple.edu</a></p>
<hr>
<p><strong>Coordinator:</strong><br>
Jemina Quarles<br>
614 Anderson Hall<br>
<a href="tel:2152043663">(215) 204-3663</a><br>
<a href="mailto:jemi@temple.edu">jemi@temple.edu</a></p>
