<p><strong>Chair:</strong><br>
Dr. Terry Rey<br>
619 Anderson Hall<br>
<a href="tel:2152048755">(215) 204-8755</a><br>
<a href="mailto:trey@temple.edu">trey@temple.edu</a><br></p>
<p><strong>Undergraduate Chair:</strong><br>
Dr. Mark Leuchter<br>
613 Anderson Hall<br>
<a href="mailto:mark.leuchter@temple.edu">mark.leuchter@temple.edu</a></p>
<hr>
<p><strong>Administrator:</strong><br>
Maggie Cogswell<br>
1008A Gladfelter Hall<br>
<a href="tel:2152049209">(215) 204-9209</a><br>
<a href="mailto:maggie.cogswell@temple.edu">maggie.cogswell@temple.edu</a></p>
<hr>
<p><strong>Coordinators:</strong><br>
Jemina Quarles<br>
614 Anderson Hall<br>
<a href="tel:2152043663">(215) 204-3663</a><br>
<a href="mailto:jemi@temple.edu">jemi@temple.edu</a></p>
