<div>
  <h2>Graduate Students</h2>
    <p>Our highly selected PhD students are an intricate part of the learning and teaching experience here in the Deparment of Religion. Our graduate students conduct research, teach courses and work closely with various faculty members and students throughout the department</p>
  </div>
<div class="container">
  <div class="row">
    <div class="col s12 m6" <br>
      <b></b>
      <ul>
        <li><a href="https://liberalarts.temple.edu/juwan-z-bennett" title="Juwan Z. Bennett">Juwan Z. Bennett</a><p><strong>Afro-Caribbean (particularly, Rastafari), Africana Religions, Biblical Hermeneutics</strong></p></li>
        <li><a href="https://liberalarts.temple.edu/chelsey-cain" title="Chelsey Cain">Chelsey Cain</a><p><strong>Afro-Caribbean (particularly, Rastafari), Africana Religions, Biblical Hermeneutics</strong></p></li>
        <li><a href="https://liberalarts.temple.edu/kris-castner" title="Kris Castner">Kris Castner</a><p><strong>Afro-Caribbean (particularly, Rastafari), Africana Religions, Biblical Hermeneutics</strong></p></li>
        <li><a href="mailto:tud52574@temple.edu" title="Amy Defibaugh">Amy Defibaugh</a><p><strong>Animals in Religion, Death &amp; Dying</strong></p></li>
        <li><a href="https://liberalarts.temple.edu/tara-coleman" title="Tara Coleman">Tara Coleman</a><p><strong>Afro-Caribbean (particularly, Rastafari), Africana Religions, Biblical Hermeneutics</strong></p></li>
        <li><a href="https://liberalarts.temple.edu/joseph-dagrossa" title="Joseph Dagrossa">Joseph Dagrossa</a><p><strong>Afro-Caribbean (particularly, Rastafari), Africana Religions, Biblical Hermeneutics</strong></p></li>
        <li><a href="https://liberalarts.temple.edu/chelsey-donohoe" title="Chelsey Donohoe">Chelsey Donohoe</a><p><strong>Afro-Caribbean (particularly, Rastafari), Africana Religions, Biblical Hermeneutics</strong></p></li>
        <li><a href="https://liberalarts.temple.edu/mollie-ducoste" title="Mollie Ducoste">Mollie Ducoste</a><p><strong>Afro-Caribbean (particularly, Rastafari), Africana Religions, Biblical Hermeneutics</strong></p></li>
        <li><a href="https://liberalarts.temple.edu/jillian-eidson" title="Jillian Eidson">Jillian Eidson</a><p><strong>Afro-Caribbean (particularly, Rastafari), Africana Religions, Biblical Hermeneutics</strong></p></li>
        <li><a href="https://liberalarts.temple.edu/john-farrell" title="John Farrell">John Farrell</a><p><strong>Afro-Caribbean (particularly, Rastafari), Africana Religions, Biblical Hermeneutics</strong></p></li>
        <li><a href="https://liberalarts.temple.edu/ryan-fisher" title="Ryan Fisher">Ryan Fisher</a><p><strong>Afro-Caribbean (particularly, Rastafari), Africana Religions, Biblical Hermeneutics</strong></p></li>
        <li><a href="https://liberalarts.temple.edu/nili-gesser" title="Nili-Gesser">Nili-Gesser</a><p><strong>Afro-Caribbean (particularly, Rastafari), Africana Religions, Biblical Hermeneutics</strong></p></li>
        <li><a href="https://liberalarts.temple.edu/leah-hamilton" title="Leah Hamilton">Leah Hamilton</a><p><strong>Afro-Caribbean (particularly, Rastafari), Africana Religions, Biblical Hermeneutics</strong></p></li>
        <li><a href="https://liberalarts.temple.edu/courtney-harding" title="Courtney Harding">Courtney Harding</a><p><strong>Afro-Caribbean (particularly, Rastafari), Africana Religions, Biblical Hermeneutics</strong></p></li>
        <li><a href="https://liberalarts.temple.edu/robert-heinzeroth" title="Robert Heinzeroth">Robert Heinzeroth</a><p><strong>Afro-Caribbean (particularly, Rastafari), Africana Religions, Biblical Hermeneutics</strong></p></li>
        <li><a href="https://liberalarts.temple.edu/abigail-henson" title="Abigail Henson">Abigail Henson</a><p><strong>Afro-Caribbean (particularly, Rastafari), Africana Religions, Biblical Hermeneutics</strong></p></li>
        <li><a href="https://liberalarts.temple.edu/bria-higgs" title="Bria Higgs">Bria Higgs</a><p><strong>Afro-Caribbean (particularly, Rastafari), Africana Religions, Biblical Hermeneutics</strong></p></li>
        <li><a href="https://liberalarts.temple.edu/leah-hamilton" title="Leah Hamilton">Leah Hamilton</a><p><strong>Afro-Caribbean (particularly, Rastafari), Africana Religions, Biblical Hermeneutics</strong></p></li>
        <li><a href="https://liberalarts.temple.edu/courtney-harding" title="Courtney Harding">Courtney Harding</a><p><strong>Afro-Caribbean (particularly, Rastafari), Africana Religions, Biblical Hermeneutics</strong></p></li>
        <li><a href="https://liberalarts.temple.edu/robert-heinzeroth" title="Robert Heinzeroth">Robert Heinzeroth</a><p><strong>Afro-Caribbean (particularly, Rastafari), Africana Religions, Biblical Hermeneutics</strong></p></li>
        <li><a href="https://liberalarts.temple.edu/abigail-henson" title="Abigail Henson">Abigail Henson</a><p><strong>Afro-Caribbean (particularly, Rastafari), Africana Religions, Biblical Hermeneutics</strong></p></li>
        <li><a href="https://liberalarts.temple.edu/bria-higgs" title="Bria Higgs">Bria Higgs</a><p><strong>Afro-Caribbean (particularly, Rastafari), Africana Religions, Biblical Hermeneutics</strong></p></li>
      </ul>
    </div>

    <div class="row">
      <div class="col s12 m6" <br>
        <b></b>
        <ul>
          <li><a href="https://liberalarts.temple.edu/ingrid-johnson" title="Ingrid Johnson">Ingrid Johnson</a><p><strong>Afro-Caribbean (particularly, Rastafari), Africana Religions, Biblical Hermeneutics</strong></p></li>
          <li><a href="https://liberalarts.temple.edu/nicole-johnson" title="Nicole Johnson">Nicole Johnson</a><p><strong>Afro-Caribbean (particularly, Rastafari), Africana Religions, Biblical Hermeneutics</strong></p></li>
          <li><a href="Evangelica Juarez" title="Evangelica Juarez">Evangelica Juarez</a><p><strong>Afro-Caribbean (particularly, Rastafari), Africana Religions, Biblical Hermeneutics</strong></p></li>
          <li><a href="https://liberalarts.temple.edu/hannah-klein" title="Hannah Klein">Hannah Klein</a><p><strong>Afro-Caribbean (particularly, Rastafari), Africana Religions, Biblical Hermeneutics</strong></p></li>
          <li><a href="https://liberalarts.temple.edu/josh-koehnlein" title="Josh Koehnlein">Josh Koehnlein</a><p><strong>Afro-Caribbean (particularly, Rastafari), Africana Religions, Biblical Hermeneutics</strong></p></li>
          <li><a href="https://liberalarts.temple.edu/megan-forney" title="Megan Forney">Megan Forney</a><p><strong>Afro-Caribbean (particularly, Rastafari), Africana Religions, Biblical Hermeneutics</strong></p></li>
          <li><a href="https://liberalarts.temple.edu/alyssa-mendlein" title="Alyssa Mendlein">Alyssa Mendlein</a><p><strong>Afro-Caribbean (particularly, Rastafari), Africana Religions, Biblical Hermeneutics</strong></p></li>
          <li><a href="https://liberalarts.temple.edu/veronica-nelson" title="Veronica Nelson">Veronica Nelson</a><p><strong>Afro-Caribbean (particularly, Rastafari), Africana Religions, Biblical Hermeneutics</strong></p></li>
          <li><a href="https://liberalarts.temple.edu/ed-parker" title="Ed Parker">Ed Parker</a><p><strong>Afro-Caribbean (particularly, Rastafari), Africana Religions, Biblical Hermeneutics</strong></p></li>
          <li><a href="https://liberalarts.temple.edu/amber-perenzin" title="Amber Perenzin">Amber Perenzin</a><p><strong>Afro-Caribbean (particularly, Rastafari), Africana Religions, Biblical Hermeneutics</strong></p></li>
          <li><a href="https://liberalarts.temple.edu/michele-pich" title="Michele Pich">Michele Pich</a><p><strong>Afro-Caribbean (particularly, Rastafari), Africana Religions, Biblical Hermeneutics</strong></p></li>
          <li><a href="https://liberalarts.temple.edu/casey-rice" title="Casey Rice">Casey Rice</a><p><strong>Afro-Caribbean (particularly, Rastafari), Africana Religions, Biblical Hermeneutics</strong></p></li>
          <li><a href="https://liberalarts.temple.edu/danielle-stanford" title="Danielle Stanford">Danielle Stanford</a><p><strong>Afro-Caribbean (particularly, Rastafari), Africana Religions, Biblical Hermeneutics</strong></p></li>
          <li><a href="https://liberalarts.temple.edu/dijon-e-talley" title="Dijonee Talley">Dijonee Talley</a><p><strong>Afro-Caribbean (particularly, Rastafari), Africana Religions, Biblical Hermeneutics</strong></p></li>
          <li><a href="https://liberalarts.temple.edu/katorah-williams" title="Katorah Williams">Katorah Williams</a><p><strong>Afro-Caribbean (particularly, Rastafari), Africana Religions, Biblical Hermeneutics</strong></p></li>
          <li><a href="https://liberalarts.temple.edu/kelly-waltman-spreha" title="Kelly Waltman Spreha">Kelly Waltman Spreha</a><p><strong>Afro-Caribbean (particularly, Rastafari), Africana Religions, Biblical Hermeneutics</strong></p></li>
          <li><a href="https://liberalarts.temple.edu/shane-richard-winslow" title="Shane Richard Winslow">Shane Richard Winslow</a><p><strong>Afro-Caribbean (particularly, Rastafari), Africana Religions, Biblical Hermeneutics</strong></p></li>
          <li><a href="https://liberalarts.temple.edu/leah-hamilton" title="Leah Hamilton">Leah Hamilton</a><p><strong>Afro-Caribbean (particularly, Rastafari), Africana Religions, Biblical Hermeneutics</strong></p></li>
        <li><a href="https://liberalarts.temple.edu/courtney-harding" title="Courtney Harding">Courtney Harding</a><p><strong>Afro-Caribbean (particularly, Rastafari), Africana Religions, Biblical Hermeneutics</strong></p></li>
        <li><a href="https://liberalarts.temple.edu/robert-heinzeroth" title="Robert Heinzeroth">Robert Heinzeroth</a><p><strong>Afro-Caribbean (particularly, Rastafari), Africana Religions, Biblical Hermeneutics</strong></p></li>
        <li><a href="https://liberalarts.temple.edu/abigail-henson" title="Abigail Henson">Abigail Henson</a><p><strong>Afro-Caribbean (particularly, Rastafari), Africana Religions, Biblical Hermeneutics</strong></p></li>
        </ul>
      </div>
    </div>
  </div>
