<div>
  <h2>Graduate Students</h2>
    <p>Our highly selected PhD students are an intricate part of the learning and teaching experience here in the Department of Religion. Our graduate students conduct research, teach courses and work closely with various faculty members and students throughout the department.</p>
  </div>
<div class="container">
  <div class="row">
    <div class="col s12 m6"> 
      
      <ul>
        <li><a href="https://liberalarts.temple.edu/randy-goldson" title="Randy Goldson">Randy Goldson</a><p><strong>Afro-Caribbean (particularly, Rastafari), Africana Religions, Biblical Hermeneutics</strong></p></li>
        <li><a href="https://liberalarts.temple.edu/minjung-noh" title="Minjung Noh">Minjung Noh</a><p><strong>African Diaspora Christianity, Gender &amp; Religious Community</strong></p></li>
        <li><a href="mailto:tug24946@temple.edu" title="Michael Cohen">Michael Cohen</a><p><strong>Biblical Reception History in America</strong></p></li>
        <li><a href="https://liberalarts.temple.edu/timothy-loftus" title="Timothy Loftus">Timothy Loftus</a><p><strong>Buddhism</strong></p></li>
        <li><a href="https://mailto:tug24946@temple.edu" title="Charlotte Moore">Charlotte Moore</a><p><strong>Buddhism</strong></p></li>
        <li><a href="https://https://liberalarts.temple.edu/adam-valerio" title="Adam Valerio">Adam Valerio</a><p><strong>Buddhism</strong></p></li>
        <li><a href="mailto:tug78542@temple.edu" title="Barom Chon">Barom Chon</a><p><strong>Buddhism &amp; Confucianism,Temple Gazetteers</strong></p></li>
        <li><a href="https://liberalarts.temple.edu/travis-travis" title="Travis Travis">Travis Travis</a><p><strong>Buddhist Āgama Literature, Digital Humanities</strong></p></li>
        <li><a href="mailto:tug73697@temple.edu" title="Adam Koontz">Adam Koontz</a><p><strong>Christianity</strong></p></li>
        <li><a href="mailto:tug21843@temple.edu" title="Wenonah Carney">Wenonah Carney</a><p><strong>Early Christianity</strong></p></li>
        <li><a href="https://liberalarts.temple.edu/mohamed-hassan" title="Mohamed Hassan">Mohamed Hassan</a><p><strong>Gender &amp; Religion, Islam &amp; Christianity</strong></p></li>
        <li><a href="https://liberalarts.temple.edu/kevin-hensler" title="Kevin Hensler">Kevin Hensler</a><p><strong>Hebrew Bible</strong></p></li>
        <li><a href="mailto:tud32837@temple.edu" title="Julie Pfau">Julie Pfau</a><p><strong>Hebrew Bible</strong></p></li>
        <li><a href="mailto:tua07450@temple.edu" title="Vincent Mouton">Vincent Mouton</a><p><strong>Hebrew Bible</strong></p></li>
        <li><a href="mailto:melissajaneheller@gmail.com" title="Melissa Heller">Melissa Heller</a><p><strong>Hebrew Bible, Religion &amp; Culture in America</strong></p></li>
        <li><a href="mailto:tuc17165@temple.edu" title="Nicole Melara">Nicole Melara</a><p><strong>Interfaith Dialouge</strong></p></li>
      </ul>
    </div>

    <div class="row">
      <div class="col s12 m6">
        
        <ul>
          <li><a href="mailto:tuc05378@temple.edu" title="Rebecca Mays">Rebecca Mays</a><p><strong>Interfaith Dialogue &amp; Mysticism</strong></p></li>
          <li><a href="https://sites.temple.edu/acac/" title="Marybeth Acac">Marybeth Acac</a><p><strong>Islam</strong></p></li>
          <li><a href="mailto:tug20672@temple.edu" title="Andieleigh Laudisio">Andieleigh Laudisio</a><p><strong>Islam</strong></p></li>
          <li><a href="mailto:relwan.onikoyi@temple.edu" title="Relwan Onikoyi">Relwan Onikoyi</a><p><strong>Islam</strong></p></li>
          <li><a href="mailto:tuf19268@temple.edu" title="Askan Shekarchi">Askan Shekarchi</a><p><strong>Islam</strong></p></li>
          <li><a href="mailto:lkg@temple.edu" title="Laila Ghauri">Laila Ghauri</a><p><strong>Islamic Law and Muslim Identity in Domestic Courts</strong></p></li>
          <li><a href="mailto:shahid.nigro@temple.edu" title="Shahid Nigro">Shahid Nigro</a><p><strong>Islam Prophecy in Islam and Pre-Islamic Arabia Comparative</strong></p></li>
          <li><a href="mailto:tue81491@temple.edu" title="Giovanni Herran">Giovanni Herran</a><p><strong>Islam Shar’iah, Sufism &amp; Revivalism</strong></p></li>
          <li><a href="mailto:tue84015@temple.edu" title="Dennis Stromback">Dennis Stromback</a><p><strong>Religious Philosophy, Japanese Philosophy</strong></p></li>
          <li><a href="https://liberalarts.temple.edu/ryan-halloran" title="Ryan Halloran">Ryan Halloran</a><p><strong>Religion &amp; Sports</strong></p></li>
          <li><a href="mailto:tuf27377@temple.edu" title="Brian Blackmore">Brian Blackmore</a><p><strong>Religion &amp; Sports</strong></p></li>
          <li><a href="mailto:tug80633@temple.edu" title="Luqman El-Amin">Luqman El-Amin</a><p><strong>Religion &amp; Sports</strong></p></li>
          <li><a href="mailto:jessicasitek@gmail.com" title="Jessica Sitek">Jessica Sitek</a><p><strong>Religion &amp; Sports</strong></p></li>
          <li><a href="" title="Eris Suleyman">Eris Suleyman</a><p><strong>Religion &amp; Sports</strong></p></li>
          <li><a href="mailto:tug27523@temple.edu" title="Lee Andrew Weiss">Lee Andrew Weiss</a><p><strong>Tibetan Buddhism Philosophy</strong></p></li>
        </ul>
      </div>
    </div>
  </div>
