<div>
  <h2>Graduate Students</h2>
    <p>Our highly selected PhD students are an intricate part of the learning and teaching experience here in the Deparment of Religion. Our graduate students conduct research, teach courses and work closely with various faculty members and students throughout the department.</p>
   <ul>
   <p><strong>Afro-Caribbean (particularly, Rastafari), Africana Religions, Biblical Hermeneutics</strong></p>  
   <li><a href="https://liberalarts.temple.edu/randy-goldson">Randy Goldson</a></li> 
   </ul>
   <p><strong>African Diaspora Christianity, Gender &amp; Religious Community</strong></p>  
   <li><a href="https://liberalarts.temple.edu/minjung-noh">Minjung Noh</a></li>   
  </ul>
</div>
