<h2>Graduate Students</h2>
  
  <ul>
 <li><a href="https://sites.temple.edu/acac/">Marybeth Acac-Islam</a></li>
 <li><a href="mailto:tue86838@temple.edu">Hesna Aksel-Animals & Religion,Bovine Veneration</a><li>
 <li><a href="https://liberalarts.temple.edu/tom-berendt">Tom Berendt</a></li>
 <li><a href="mailto:tuf27377@temple.edu">Brian Blackmore</a><li>
 <li><a href="mailto:john.bright@temple.edu">John Bright</a><li>
 <li><a href="mailto:tug21843@temple.edu">Wenonah Carney-Early Christianity</a><li>
 <li><a href="mailto:tug78542@temple.edu">Barom Chon-Buddhism & Confucianism,Temple Gazetteers</a><li>
 <li><a href="mailto:tue73959@temple.edu">Egon Cohen- Ethics, Religion, & Sexuality</a><li>
 <li><a href="mailto:tug24946@temple.edu">Michael Cohen-Biblical Reception History in America</a><li>
 <li><a href="mailto:tud52574@temple.edu">Amy Defibaugh-Animals in Religion, Death & Dying</a><li>
 <li><a href="mailto:mailto:lkg@temple.edu">Laila Ghauri-Islamic Law and Muslim Identity in Domestic Courts</a><li>
 <li><a href="mailto:tuc69916@temple.edu">Bruce Gibson-Islam</a><li>
 <li><a href="https://liberalarts.temple.edu/randy-goldson">Randy Goldson-Afro-Caribbean (particularly, Rastafari), Africana Religions, Biblical Hermeneutics</a></li>
 <li><a href="https://liberalarts.temple.edu/ryan-halloran">Ryan Halloran-Religion & Sports</a></li>
 <li><a href="https://liberalarts.temple.edu/mohamed-hassan">Mohamed Hassan-Gender & Religion, Islam & Christianity</a></li>
 <li><a href="mailto:melissajaneheller@gmail.com">Melissa Heller-Hebrew Bible, Religion & Culture in America</a><li>
 <li><a href="https://liberalarts.temple.edu/kevin-hensler">Kevin Hensler-Hebrew Bible</a><li>
 <li><a href="mailto:tue81491@temple.edu">Giovanni Herran-Islam Shar’iah, Sufism & Revivalism</a><li>   
 <li><a href="mailto:saiyidazakiya@gmail.com">Saiyida Islam-Comparative Religion & Islam</a><li>
 <li><a href="mailto:tug73697@temple.edu">Adam Koontz-Christianity</a><li>
 <li><a href="mailto:vkunu@temple.edu">Vishma Kunu-Early Christianity</a><li>
 <li><a href="mailto:tug20672@temple.edu">Andieleigh Laudisio-Islam</a><li>
 <li><a href="https://liberalarts.temple.edu/timothy-loftus">Timothy Loftus-Buddhism</a><li>
 <li><a href="mailto:tug80633@temple.edu">Luqman El-Amin</a><li>
 <li><a href="mailto:tub49520@temple.edu">Peter Margolis-Jewish Studies</a><li>
 <li><a href="https://liberalarts.temple.edu/shereen-masoud">Shereen Masoud-Islam</a><li>   
 <li><a href="mailto:tuc05378@temple.edu">Rebecca Mays-Interfaith Dialogue & Mysticism</a><li>    
 <li><a href="mailto:tuc17165@temple.edu">Nicole Melara-Interfaith Dialouge</a><li>  
 <li><a href="mailto:tug51364@temple.edu">Angie Merila-Gender & Religion</a><li> 
 <li><a href="mailto:tug24946@temple.edu">Charlotte Moore-Buddhism</a><li>
 <li><a href="mailto:tua07450@temple.edu">Vincent Mouton-Hebrew Bible</a><li>    
 <li><a href="mailto:shahid.nigro@temple.edu">Shahid Nigro-Islam Prophecy in Islam and Pre-Islamic Arabia Comparative Prophecy</a><li>   
 <li><a href="https://liberalarts.temple.edu/minjung-noh">Minjung Noh-African Diaspora Christianity, Gender & Religious Community</a><li>
 <li><a href="mailto:relwan.onikoyi@temple.edu">Relwan Onikoyi-Islam</a><li>
 <li><a href="tud32837@temple.edu">Julie Pfau-Hebrew Bible</a><li>
 <li><a href="mailto:ssanford@temple.edu">Sean Sanford-Catholicism, American Religious History; Political Theology Theory, Religion and Sexuality</a><li>
 <li><a href="mailto:Tug83140@temple.edu">Mohamed Sayed-Islamic Studies, Islamic Political Thought, Methodologies of the Comparative Study of Religion</a><li>
 <li><a href="mailto:tuf19268@temple.edu">Askan Shekarchi-Islam</a><li>
 <li><a href="mailto:jessicasitek@gmail.com">Jessica Sitek</a><li>
 <li><a href="mailto:tuc70498@temple.edu">Adan Steven-Diaz-Religion & Sociology</a><li>
 <li><a href="mailto:tue84015@temple.edu">Dennis Stromback-Religious Philosophy, Japanese Philosophy</a><li>
 <li><a href="mailto:suleyman.eris@temple.edu">Eris Suleyman</a><li>
 <li><a href="https://liberalarts.temple.edu/travis-travis">Travis Travis-Buddhist Āgama Literature, Digital Humanities</a><li>
 <li><a href="https://liberalarts.temple.edu/adam-valerio">Adam Valerio-Buddhism</a><li>   
  </ul>
