<div>
  <h2>Graduate Students</h2>
    <p>Our highly selected PhD students are an intricate part of the learning and teaching experience here in the Deparment of Religion. Our graduate students conduct research, teach courses and work closely with various faculty members and students throughout the department.</p>
  <ul>
    <strong>Afro-Caribbean (particularly, Rastafari), Africana Religions, Biblical Hermeneutics<strong>
    <ul>  
    <li><a href="https://liberalarts.temple.edu/randy-goldson">Randy Goldson</a></li>
    </ul>
    
   <li><a href="https://sites.temple.edu/acac/">Marybeth Acac</a> Islam</li>
   <li><a href="mailto:tue86838@temple.edu">Hesna Aksel</a> Animals &amp; Religion,Bovine Veneration<li>
   <li><a href="https://liberalarts.temple.edu/tom-berendt">Tom Berendt</a></li>
   <li><a href="mailto:tuf27377@temple.edu">Brian Blackmore</a><li>
   <li><a href="mailto:john.bright@temple.edu">John Bright</a><li>
   <li><a href="mailto:tug21843@temple.edu">Wenonah Carney</a> Early Christianity<li>
   <li><a href="mailto:tug78542@temple.edu">Barom Chon</a> Buddhism &amp; Confucianism,Temple Gazetteers<li>
   <li><a href="mailto:tue73959@temple.edu">Egon Cohen</a> Ethics, Religion, &amp; Sexuality<li>
   <li><a href="mailto:tug24946@temple.edu">Michael Cohen</a> Biblical Reception History in America<li>
   <li><a href="mailto:tud52574@temple.edu">Amy Defibaugh</a> Animals in Religion, Death &amp; Dying<li>
   <li><a href="mailto:mailto:lkg@temple.edu">Laila Ghauri</a> Islamic Law and Muslim Identity in Domestic Courts<li>
   <li><a href="mailto:tuc69916@temple.edu">Bruce Gibson</a> Islam<li>
   <li><a href="https://liberalarts.temple.edu/randy-goldson">Randy Goldson</a> Afro-Caribbean (particularly, Rastafari), Africana Religions, Biblical Hermeneutics</li>
   <li><a href="https://liberalarts.temple.edu/ryan-halloran">Ryan Halloran</a> Religion &amp; Sports</li>
   <li><a href="https://liberalarts.temple.edu/mohamed-hassan">Mohamed Hassan</a> Gender &amp; Religion, Islam &amp; Christianity</li>
   <li><a href="mailto:melissajaneheller@gmail.com">Melissa Heller</a> Hebrew Bible, Religion &amp; Culture in America<li>
   <li><a href="https://liberalarts.temple.edu/kevin-hensler">Kevin Hensler</a> Hebrew Bible<li>
   <li><a href="mailto:tue81491@temple.edu">Giovanni Herran</a> Islam Shar’iah, Sufism &amp; Revivalism<li>
   <li><a href="mailto:saiyidazakiya@gmail.com">Saiyida Islam</a> Comparative Religion &amp; Islam<li>
   <li><a href="mailto:tug73697@temple.edu">Adam Koontz</a> Christianity<li>
   <li><a href="mailto:vkunu@temple.edu">Vishma Kunu</a> Early Christianity<li>
   <li><a href="mailto:tug20672@temple.edu">Andieleigh Laudisio</a> Islam<li>
   <li><a href="https://liberalarts.temple.edu/timothy-loftus">Timothy Loftus</a> Buddhism<li>
   <li><a href="mailto:tug80633@temple.edu">Luqman El-Amin</a><li>
   <li><a href="https://liberalarts.temple.edu/shereen-masoud">Shereen Masoud</a> Islam<li>
   <li><a href="mailto:tuc05378@temple.edu">Rebecca Mays</a> Interfaith Dialogue &amp; Mysticism<li>
   <li><a href="mailto:tuc17165@temple.edu">Nicole Melara</a> Interfaith Dialouge<li>
   <li><a href="mailto:tug51364@temple.edu">Angie Merila</a> Gender &amp; Religion<li>
   <li><a href="mailto:tug24946@temple.edu">Charlotte Moore</a> Buddhism<li>
   <li><a href="mailto:tua07450@temple.edu">Vincent Mouton</a> Hebrew Bible<li>
   <li><a href="mailto:shahid.nigro@temple.edu">Shahid Nigro</a> Islam Prophecy in Islam and Pre-Islamic Arabia Comparative Prophecy<li>
   <li><a href="https://liberalarts.temple.edu/minjung-noh">Minjung Noh</a> African Diaspora Christianity, Gender &amp; Religious Community<li>
   <li><a href="mailto:relwan.onikoyi@temple.edu">Relwan Onikoyi</a> Islam<li>
   <li><a href="tud32837@temple.edu">Julie Pfau</a> Hebrew Bible</a><li>
   <li><a href="mailto:ssanford@temple.edu">Sean Sanford</a> Catholicism, American Religious History; Political Theology Theory, Religion and Sexuality<li>
   <li><a href="mailto:Tug83140@temple.edu">Mohamed Sayed</a> Islamic Studies, Islamic Political Thought, Methodologies of the Comparative Study of Religion<li>
   <li><a href="mailto:tuf19268@temple.edu">Askan Shekarchi</a> Islam<li>
   <li><a href="mailto:jessicasitek@gmail.com">Jessica Sitek</a><li>
   <li><a href="mailto:tuc70498@temple.edu">Adan Steven-Diaz</a> Religion &amp; Sociology<li>
   <li><a href="mailto:tue84015@temple.edu">Dennis Stromback</a> Religious Philosophy, Japanese Philosophy<li>
   <li><a href="mailto:suleyman.eris@temple.edu">Eris Suleyman</a><li>
   <li><a href="https://liberalarts.temple.edu/travis-travis">Travis Travis</a> Buddhist Āgama Literature, Digital Humanities<li>
   <li><a href="https://liberalarts.temple.edu/adam-valerio">Adam Valerio</a> Buddhism<li>
  </ul>
</div>
