<div>
  <h2>Graduate Students</h2>
  <p>Our highly selected PhD students are an intricate part of the learning and teaching experience here in the Deparment of Religion. Our graduate students conduct research, teach courses and work closely with various faculty members and students throughout
    the department. </p>

  <p><strong>Afro-Caribbean (particularly, Rastafari), Africana Religions, Biblical Hermeneutics</strong></p>
  <ul>
    <li><a href="https://liberalarts.temple.edu/randy-goldson">Randy Goldson</a></li>
  </ul>

  <p><strong>African Diaspora Christianity, Gender &amp; Religious Community</strong></p>
  <ul>
    <li><a href="https://liberalarts.temple.edu/minjung-noh">Minjung Noh</a> </li>
  </ul>

  <p><strong>Animals &amp; Religion,Bovine Veneration</strong></p>
  <ul>
    <li><a href="https://liberalarts.temple.edu/tom-berendt">Tom Berendt</a></li>
  </ul>

  <p><strong>Animals in Religion, Death &amp; Dying</strong></p>
  <ul>
    <li><a href="mailto:tud52574@temple.edu">Amy Defibaugh</a> </li>
  </ul>

  <p><strong>Biblical Reception History in America</strong></p>
  <ul>
    <li> <a href="mailto:tug24946@temple.edu">Michael Cohen</a> </li>
  </ul>

  <p><strong>Buddhism</strong></p>
  <ul>
    <li><a href="https://liberalarts.temple.edu/timothy-loftus">Timothy Loftus</a></li>
    <li> <a href="mailto:tug24946@temple.edu">Charlotte Moore</a></li>
    <li><a href="https://liberalarts.temple.edu/adam-valerio">Adam Valerio</a> </li>
  </ul>

  <p><strong>Buddhism &amp; Confucianism,Temple Gazetteers</strong></p>
  <ul>
    <li> <a href="mailto:tug78542@temple.edu">Barom Chon</a> </li>
  </ul>

  <p><strong>Buddhist Āgama Literature, Digital Humanities</strong></p>
  <ul>
    <li><a href="https://liberalarts.temple.edu/travis-travis">Travis Travis</a> </li>
  </ul>

  <p><strong>Catholicism, American Religious History; Political Theology Theory, Religion and Sexuality</strong></p>
  <ul>
    <li> <a href="mailto:ssanford@temple.edu">Sean Sanford</a> </li>
  </ul>

  <p><strong>Christianity</strong></p>
  <ul>
    <li><a href="mailto:tug73697@temple.edu">Adam Koontz</a> </li>
  </ul>

  <p><strong>Comparative Religion &amp; Islam</strong></p>
  <ul>
    <li> <a href="mailto:saiyidazakiya@gmail.com">Saiyida Islam</a> </li>
  </ul>

  <p><strong>Early Christianity</strong></p>
  <ul>
    <li><a href="mailto:tug21843@temple.edu">Wenonah Carney</a></li>
    <li><a href="mailto:vkunu@temple.edu">Vishma Kunu</a> </li>
  </ul>

  <p><strong>Ethics, Religion, &amp; Sexuality</strong></p>
  <ul>
    <li> <a href="mailto:tue73959@temple.edu">Egon Cohen</a> </li>
  </ul>

  <p><strong>Gender &amp; Religion</strong></p>
  <ul>
    <li><a href="mailto:tug51364@temple.edu">Angie Merila</a> </li>
  </ul>

  <p><strong>Gender &amp; Religion, Islam &amp; Christianity</strong></p>
  <ul>
    <li><a href="https://liberalarts.temple.edu/mohamed-hassan">Mohamed Hassan</a> </li>
  </ul>

  <p><strong>Hebrew Bible</strong></p>
  <ul>
    <li> <a href="https://liberalarts.temple.edu/kevin-hensler">Kevin Hensler</a></li>
    <li><a href="mailto:tud32837@temple.edu">Julie Pfau</a></li>
    <li><a href="mailto:tua07450@temple.edu">Vincent Mouton</a> </li>
  </ul>

  <p><strong>Hebrew Bible, Religion &amp; Culture in America</strong></p>
  <ul>
    <li> <a href="mailto:melissajaneheller@gmail.com">Melissa Heller</a> </li>
  </ul>

  <p><strong>Interfaith Dialouge</strong></p>
  <ul>
    <li> <a href="mailto:tuc17165@temple.edu">Nicole Melara</a> </li>
  </ul>

  <p><strong>Interfaith Dialogue &amp; Mysticism</strong></p>
  <ul>
    <li> <a href="mailto:tuc05378@temple.edu">Rebecca Mays</a> </li>
  </ul>

  <p><strong>Islam</strong></p>
  <ul>
    <li> <a href="https://sites.temple.edu/acac/">Marybeth Acac</a></li>
    <li><a href="mailto:tue86838@temple.edu">Hesna Aksel</a> </li>
    <li> <a href="mailto:tuc69916@temple.edu">Bruce Gibson</a></li>
    <li> <a href="mailto:tug20672@temple.edu">Andieleigh Laudisio</a></li>
    <li> <a href="https://liberalarts.temple.edu/shereen-masoud">Shereen Masoud</a></li>
    <li> <a href="mailto:relwan.onikoyi@temple.edu">Relwan Onikoyi</a></li>
    <li> <a href="mailto:tuf19268@temple.edu">Askan Shekarchi</a> </li>
  </ul>

    <p><strong>Islamic Law and Muslim Identity in Domestic Courts</strong></p>
    <ul>
      <li> <a href="mailto:lkg@temple.edu">Laila Ghauri</a> </li>
    </ul>

    <p><strong>Islam Prophecy in Islam and Pre-Islamic Arabia Comparative</strong></p>
    <ul>
      <li> <a href="mailto:shahid.nigro@temple.edu">Shahid Nigro</a> </li>
    </ul>

    <p><strong>Islam Shar’iah, Sufism &amp; Revivalism</strong></p>
    <ul>
      <li> <a href="mailto:tue81491@temple.edu">Giovanni Herran</a> </li>
    </ul>

    <p><strong>Islamic Studies, Islamic Political Thought, Methodologies of the Comparative Study of Religion</strong></p>
    <ul>
      <li> <a href="mailto:tug83140@temple.edu">Mohamed Sayed</a> </li>
    </ul>

    <p><strong>Religious Philosophy, Japanese Philosophy</strong></p>
    <ul>
      <li> <a href="mailto:tue84015@temple.edu">Dennis Stromback</a> </li>
    </ul>

    <p><strong>Religion &amp; Sociology</strong></p>

    <ul>
      <li> <a href="mailto:tuc70498@temple.edu">Adan Steven-Diaz</a> </li>
    </ul>

  <p><strong>Religion &amp; Sports</strong></p>
      <ul>
        <li> <a href="https://liberalarts.temple.edu/ryan-halloran">Ryan Halloran</a></li>
        <li> <a href="mailto:tuf27377@temple.edu">Brian Blackmore</a></li>
        <li><a href="mailto:john.bright@temple.edu">John Bright</a></li>
        <li><a href="mailto:tug80633@temple.edu">Luqman El-Amin</a></li>
        <li><a href="mailto:jessicasitek@gmail.com">Jessica Sitek</a></li>
        <li> <a href="">Eris Suleyman</a></li>
      </ul>
<div/>
