<h2>Graduate Students</h2>
  
<p> Need Short Description</p>
  
<h3>Religion</h3>
  <ul>
 <li><a href="https://sites.temple.edu/acac/">Marybeth Acac</a></li>
 <li><a href="mailto:tue86838@temple.edu">Hesna Aksel</a><li>
 <li><a href="https://liberalarts.temple.edu/tom-berendt">Tom Berendt</a></li>
 <li><a href="mailto:tuf27377@temple.edu">Brian Blackmore</a><li>
 <li><a href="mailto:john.bright@temple.edu">John Bright</a><li>
 <li><a href="mailto:tug21843@temple.edu">Wenonah Carney</a><li>
 <li><a href="mailto:tug78542@temple.edu">Barom Chon</a><li>
 <li><a href="mailto:tue73959@temple.edu">Egon Cohen</a><li>
 <li><a href="mailto:tug24946@temple.edu">Michael Cohen</a><li>
 <li><a href="mailto:tud52574@temple.edu">Amy Defibaugh</a><li>
 <li><a href="mailto:tuc69916@temple.edu"Bruce Gibson</a><li>
 <li><a href="mailto:tug24946@temple.edu">Michael Cohen</a><li>
 <li><a href="https://liberalarts.temple.edu/randy-goldson">Randy Goldson</a></li>
 <li><a href="https://liberalarts.temple.edu/ryan-halloran">Ryan Halloran</a></li>
 <li><a href="https://liberalarts.temple.edu/mohamed-hassan">Mohamed Hassan</a></li>
 <li><a href="mailto:melissajaneheller@gmail.com">Melissa Heller</a><li>
 

  </ul>
